.footer {
  padding-block: map-get($spacing-pairs, "from-400-to-500");
}

.footer--grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: min-content;
  gap: map-get($spacing, "300");

  @media screen and (min-width: map-get($breakpoints, "md")) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: map-get($spacing, "600");
  }

  @media screen and (min-width: map-get($breakpoints, "lg")) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-auto-rows: unset;
    gap: map-get($spacing, "900");
  }
}

.footer--col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer--heading {
  margin-bottom: map-get($spacing, "200");
}

.footer--copy,
.footer--link {
  font-size: map-get($font-size, "300");
  line-height: 1;
  color: map-get($neutrals, "400");
}

.footer--copy {
  margin-top: map-get($spacing, "400");
}

.footer--link {
  margin-block: map-get($spacing, "300");
  transition: color 0.3s ease-in-out;

  &:hover {
    color: map-get($secondary, "500");
  }
}

.footer--bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: map-get($spacing, "300");
  border-top: 1px solid map-get($primary, "500");
}

.footer--copyright {
  font-size: map-get($font-size, "300");
  line-height: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: map-get($spacing, "300");
  list-style: none;

  li,
  a {
    text-decoration: none;
    font-size: map-get($font-size, "300");
    line-height: 1;
    color: map-get($neutrals, "400");
    transition: color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: map-get($secondary, "500");
    }
  }
}

ul {
  margin: 0;
  padding-inline-start: 0;
}
