// ********************
// BREAKPOINTS
// ********************

$breakpoints: (
  "xxl": 96.875rem,
  "xl": 80rem,
  "lg": 69.5rem,
  "md": 48rem,
  "sm": 40rem,
);

// ********************
// COLORS
// ********************

$primary: (
  "900": hsl(205, 77%, 8%),
  "800": hsl(205, 79%, 16%),
  "700": hsl(205, 78%, 25%),
  "600": hsl(205, 79%, 33%),
  "500": hsl(205, 78%, 41%),
  "400": hsl(205, 78%, 51%),
  "300": hsl(205, 78%, 61%),
  "200": hsl(205, 79%, 71%),
  "100": hsl(205, 78%, 80%),
  "50": hsl(205, 80%, 90%),
);

$secondary: (
  "900": hsl(13, 96%, 11%),
  "800": hsl(14, 98%, 21%),
  "700": hsl(13, 98%, 31%),
  "600": hsl(13, 97%, 42%),
  "500": hsl(13, 98%, 52%),
  "400": hsl(13, 98%, 60%),
  "300": hsl(13, 98%, 68%),
  "200": hsl(13, 98%, 76%),
  "100": hsl(14, 98%, 84%),
  "50": hsl(13, 100%, 92%),
);

$neutrals: (
  "900": hsl(218, 17%, 9%),
  "800": hsl(218, 17%, 19%),
  "700": hsl(214, 16%, 28%),
  "600": hsl(215, 16%, 37%),
  "500": hsl(215, 16%, 47%),
  "400": hsl(216, 16%, 56%),
  "300": hsl(215, 16%, 65%),
  "200": hsl(215, 16%, 73%),
  "100": hsl(212, 16%, 82%),
  "50": hsl(214, 16%, 91%),
);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// ********************
// SPACING
// ********************

$spacing: (
  "900": clamp(6rem, calc(4.93rem + 2.68vw), 7.5rem),
  "800": clamp(4rem, calc(3.29rem + 1.79vw), 5rem),
  "700": clamp(3rem, calc(2.46rem + 1.34vw), 3.75rem),
  "600": clamp(2rem, calc(1.64rem + 0.89vw), 2.5rem),
  "500": clamp(1.5rem, calc(1.23rem + 0.67vw), 1.88rem),
  "400": clamp(1rem, calc(0.82rem + 0.45vw), 1.25rem),
  "300": clamp(0.75rem, calc(0.62rem + 0.33vw), 0.94rem),
  "200": clamp(0.5rem, calc(0.41rem + 0.22vw), 0.63rem),
  "100": clamp(0.25rem, calc(0.21rem + 0.11vw), 0.31rem),
);

$spacing-pairs: (
  "from-800-to-900": clamp(4rem, calc(1.5rem + 6.25vw), 7.5rem),
  "from-700-to-800": clamp(3rem, calc(1.57rem + 3.57vw), 5rem),
  "from-600-to-700": clamp(2rem, calc(0.75rem + 3.13vw), 3.75rem),
  "from-500-to-600": clamp(1.5rem, calc(0.79rem + 1.79vw), 2.5rem),
  "from-400-to-500": clamp(1rem, calc(0.38rem + 1.56vw), 1.88rem),
  "from-300-to-400": clamp(0.75rem, calc(0.39rem + 0.89vw), 1.25rem),
  "from-200-to-300": clamp(0.5rem, calc(0.19rem + 0.78vw), 0.94rem),
  "from-100-to-200": clamp(0.25rem, calc(-0.02rem + 0.67vw), 0.63rem),
  "from-400-to-900": clamp(1rem, calc(-3.64rem + 11.61vw), 7.5rem),
  "from-600-to-900": clamp(2rem, calc(-1.93rem + 9.82vw), 7.5rem),
);

// ********************
// TYPORGRAPHY
// ********************

$font-size: (
  "900": clamp(4.21rem, calc(3.46rem + 1.88vw), 5.26rem),
  "800": clamp(3.16rem, calc(2.59rem + 1.41vw), 3.95rem),
  "700": clamp(2.37rem, calc(1.95rem + 1.06vw), 2.96rem),
  "600": clamp(1.78rem, calc(1.46rem + 0.79vw), 2.22rem),
  "500": clamp(1.33rem, calc(1.1rem + 0.59vw), 1.67rem),
  "400": clamp(1rem, calc(0.82rem + 0.45vw), 1.25rem),
  "300": clamp(0.75rem, calc(0.62rem + 0.33vw), 0.94rem),
  "200": clamp(0.56rem, calc(0.46rem + 0.25vw), 0.7rem),
  "100": clamp(0.42rem, calc(0.35rem + 0.19vw), 0.53rem),
);

$line-height: 1.33;

$letter-spacing: (
  "tighter": -0.05em,
  "tight": -0.025em,
);
